.App {
  text-align: center;
  min-height: 100%;
}

.App-logo {
  pointer-events: none;
}

.Popup{
  text-align: center;
}

header {
  background-image: linear-gradient(#319dff, #70afe2);;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: transparent; /* ✅ good */
  padding: 32px 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* sizing of map */

.leaflet-container{
  height: 70vh;
  width: 60%;
  margin: auto;
}

.sidebar{
  position: absolute;
  top: 140px; 
  left: 0;
  width: 240px;
  padding: 1rem;
  background-color: #ccefc1;
  font-family: 'Arial', sans-serif;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

